@import url(__title/for-clients__title.css);
@import url(__text/for-clients__text.css);
.for-clients {
    box-sizing: border-box;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 0;
    padding-bottom: 94px;
    width: 100%;
    display: flex;
    flex-direction: column;
}