@import url(__title/search__title.css);
@import url(__text/search__text.css);
@import url(__field/search__field.css);
@import url(__input/search__input.css);
@import url(__button/search__button.css);
.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}